### Dictionaries

Dictionaries in python is just like dictionaries in real life.

In real life dictionary we have key words like-:

##### indeed :
        (used for emphasizing a positive statement or answer) really; certainly
        
##### here indeed is a keyword and its meaning written infront of it is its Value

###### we use same concept of keywords and Values in dictionaries in python

In [2]:
mydict= {'aryan':'a boy',
        'selena':'a girl',
        'raghav':'a boy'
    
          }
mydict["moon"]="chakka"
print(mydict)
print(mydict['aryan'])
print(mydict['selena'])

{'aryan': 'a boy', 'selena': 'a girl', 'raghav': 'a boy', 'moon': 'chakka'}
a boy
a girl

##### empty dictionary

In [13]:
a = {}
print(type(a))

<class 'dict'>

###### you can also add List as value of keywords

In [4]:
anotherdict= {'aryan':'a boy',
              'selena':['a girl', '25 years old', 13],
               'raghav':'a boy' }

print(anotherdict['aryan'])
print(anotherdict['selena'])

a boy
['a girl', '25 years old', 13]

### Nested dictionaries

In [33]:
anotherdict= {'fast':'in a quick way',
              'mydict': {'aryan':'a boy',
                        'selena':'a girl',
                        'raghav':'a boy'}
             }
             
print(anotherdict['mydict'])

# you acan also access a item in subdictionary

print(anotherdict['mydict']['aryan'])

{'aryan': 'a boy', 'selena': 'a girl', 'raghav': 'a boy'}
a boy

#### Properties of dictionaries in python

1. Dictionaries are unordered , no numbering of items
2. It is mutable
3. It is indexed
4. it can not contain duplicte keys or keywords

###### Changing items in Dictionaries

In [36]:
mydict= {'aryan':'a boy',
        'selena':'a girl',
        'raghav':'a boy'
    
          }

mydict['aryan']= 'a man'
print(mydict['aryan'])

a man

## Dict. methods

##### .keys() = it returns all keys or keywords in the form of list or dict_keys

In [44]:
mydict= {'aryan':'a boy',
        'selena':'a girl',
        'raghav':'a boy'
    
          }

print(mydict.keys())
print(type(mydict.keys()))  # its type is not list 

print(list(mydict.keys()))  # But you can change type from dict_keys to List

dict_keys(['aryan', 'selena', 'raghav'])
<class 'dict_keys'>
['aryan', 'selena', 'raghav']

##### .values() = it returns the values of keys in the form of list or dict_values

In [52]:
mydict= {'aryan':'a boy',
        'selena':'a girl',
        'raghav':'a boy'
    
          }

print(mydict.values())
print(type(mydict.values()))  # its type is not list 

# But you can change type from dict_values to List
print(list(mydict.values()))

dict_values(['a boy', 'a girl', 'a boy'])
<class 'dict_values'>
['a boy', 'a girl', 'a boy']

##### .items() = it returns all items in the form of Tuples

In [51]:
mydict= {'aryan':'a boy',
        'selena':'a girl',
        'raghav':'a boy'
    
          }

print(mydict.items())
print(type(mydict.items()))  # its type is not tuple

# But you can change type from dict_items to tuple
print(tuple(mydict.items()))

dict_items([('aryan', 'a boy'), ('selena', 'a girl'), ('raghav', 'a boy')])
<class 'dict_items'>
(('aryan', 'a boy'), ('selena', 'a girl'), ('raghav', 'a boy'))

###### .update() = it updates the dictionary with new items

In [27]:
mydict= {'aryan':'a boy',
        'selena':'a girl',
        'raghav':'a boy' }

mydict.update({'saint jhn':'man'})

print(mydict)

{'aryan': 'a boy', 'selena': 'a girl', 'raghav': 'a boy', 'saint jhn': 'man'}

###### get() = it simply gives value to keys but when given undefined key it gives output as none not error

get(x,y) = in x write key to which you want value and in y write what value to give if that key doesn't exists , by default its none

In [42]:
# with .get()

mydict= {'aryan':'a boy',
        'selena':'a girl',
        'raghav':'a boy' }

print(mydict.get('moon'))

None

In [17]:
mydict= {'aryan':'a boy',
        'selena':'a girl',
        'raghav':'a boy' }

print(mydict.get('moon','sorry it does not exists'))

sorry it does not exists

In [40]:
# without .get()

mydict= {'aryan':'a boy',
        'selena':'a girl',
        'raghav':'a boy' }

print(mydict['moon'])

KeyError: 'moon'

### String is iterable , integer is not iterable

In [48]:
x = input ('here ')
for item in x:
    print(item)

here 12
1
2

In [49]:
x = int(input ('here '))
for item in x:
    print(item)

here 12

TypeError: 'int' object is not iterable

#### program to print phone number in words

In [47]:
 ### Integers are not iterable so we will use numbers as strings her 
    
message = input('phone no ')   

a = {'1':'one','2': 'two','3':'three','4':'four','5':'five', '6':'six',
     '7':'seven',
      '8':'eight',
      '9':'nine' }

output=''
for number in message:       # int data type don't works in loops
    output = a.get(number)   # ' ' is space
    print(output)    
    
# using print outside for loop will only print final output that is six

phone no 156
one
five
six

In [46]:
# print outside for loop

message = input('phone no ')    

a = {'1':'one','2': 'two','3':'three','4':'four','5':'five', '6':'six',
     '7':'seven',
      '8':'eight',
      '9':'nine' }

output=''
for number in message:       # int data type don't works in loops
    output = a.get(number)   # ' ' is space
print(output)    
    
# using print outside for loop will only print final output that is six

phone no 156
six

## Sets

In [10]:
a = {1,2,3,4,5}
print(type(a))

<class 'set'>

#### Set doesn't contains repititive items and ignores all repititve items

In [12]:
a = {1,2,3,4,5,1,1,1,1,'a','a'}
print(a)

{'a', 1, 2, 3, 4, 5}

##### empty set -: note that {} is empty dictionary not empty set

In [15]:
a = set()  
b = {}

print(type(a))
print(type(b))

<class 'set'>
<class 'dict'>

#### Set properties:
1. sets are unordered
2. sets are unindexed
3. There is no way to change items in sets
4. sets can not contain duplicate values

### Set methods

###### .add() = to  add item in a set

In [3]:
a = set()
a.add(5)
a.add(1)
a.add(2)
a.add(3)
a.add(4)
print(a)

{1, 2, 3, 4, 5}

###### You can't add hashable objects (which can be modified in future) in sets which means you can't add lists, dictionaries in it but you can add tuples

In [19]:
a = set()
a.add([1,2,2])
print(a)

TypeError: unhashable type: 'list'

In [23]:
a = set()
a.add({'a':1,'b':2})
print(a)

TypeError: unhashable type: 'dict'

In [21]:
a = set()
a.add((1,2,2))
print(a)

{(1, 2, 2)}

######  len()= prints the length of the set

In [28]:
a = {1,2,3,4}
print(len(a))   # len is universal method can be used far tuples,list,etc too

4

###### .remove() = removes the item from set

In [31]:
a = {1,2,3,4}
a.remove(4)
print(a)

{1, 2, 3}

###### .pop() = removes an arbitary or random item in set, its not same like .pop() in list not last item like in list

In [5]:
a = {1,2,3,4}
a.pop()
print(a)

{2, 3, 4}

###### .clear = it emptys the set

In [36]:
a = {1,2,3,4}
a.clear()
print(a)

set()

###### .union() = returns a new set with all items from both sets only at one repitition

In [38]:
a = {1,2,3,4}
b ={1,2,3,4,5,6,7,8,9}

print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

###### .intersection()=  returns a new set with only common items between both the sets

In [1]:
a = {1,2,3,4}
b ={1,2,3,4,5,6,7,8,9}

print(a.intersection(b))

{1, 2, 3, 4}

In [22]:
a = set()
a.add('cat')
a.update(['dog','mouse'],['lion'],['tiger'])
print(a)
for i in a:
    print(i)

{'tiger', 'dog', 'lion', 'cat', 'mouse'}
tiger
dog
lion
cat
mouse

In [14]:
A = {'Python', 'JavaScript', 'Go'}
B = {'Python', 'JavaScript','C' }
C = A.symmetric_difference(B)
print(C)

{'C', 'Go'}

In [13]:
A = {'Python', 'JavaScript', 'Go'}
B = {'Python', 'JavaScript','C' }
C = A.difference(B)
print(C)

{'Go'}