In [1]:
print('hello world')

hello world

In [2]:
# using # or cltrl + / we can write comments

In [3]:
# using Shift + Enter will move us to next cell
# using cltrl + ENTER will execute the command but not move us to a new cell

In [4]:
# inside In [] is the no. of times you executed a command

In [5]:
# we use markup cell to add text to our program 
# using #+ Space in markup cell gives us heading 
# 3 = h1, ## = h2, ### =h3 and so on

In [6]:
# When border of box of cell is green its edit mode where we can add text or code 
# When border of box of cell is blue its command mode
# Press dd to delete a cell but it works only in command mode
# press 1 in command mode to give h1, 2 to h1 and so on without changing using mouse


# TO COME IN COMMAND MODE CLICK ON GREEN BORDER OF CELL OR RUN THE CODE OR CELL

# First program

In [1]:
print('this is our first program')

this is our first program

# Arithmetic operatins that will help us

In [2]:
a = 2
b = 3
print(a+b, "is addition")
print(a-b, "is substraction")
print(a*b, "is multiplication")
print(a**b, "is exponential value a^b")
print(a/b, "is division")
print(a//b, "is floor division")
print(a%b, "is modoulas i.e remainder")

5 is addition
-1 is substraction
6 is multiplication
8 is exponential value a^b
0.6666666666666666 is division
0 is quotient
2 is modoulas i.e remainder

# variables

In [4]:
# variable are identification far stored values in them far memory
#don't use variable that are predefined syntaxes in python
# one variable can't have different values

# Data types

In [5]:
# we have different data types i.e 'int', 'float', 'characters or string', 'boolean',etc

In [6]:
#In python, type of variable is interpreted by python itself and we don't need to define them like in c

## Basic type of data types in python

           
          #Data type   =   example
          
         *integer = 5, 10, 2, 0, 9
         *float  = 5.55, 4.23 7.77
         *complex = 3+4j, 2j ( NOTE THAT J = i = iota or imaginary no. part)
         *boolean= true, false  
         *string = ' hello world' , '123' , '12a' ( NOTE that anything inside "" is string or character even a "123" too
         * list = [ 1, 2, 3, 'hello world', true ]
         *tuple= (1,2,3, 'heello world', true)
         * set = {1,2,3, 'hello world', true}
         * dictionary = { 1:'hello world',2:'aryan'}
         
   ### list is mutable or changeable it means we can change values inside list

In [37]:
# we use type () function to specify the data type of the variable


c= 1.5
d= True
e=1+1j
f=True 


# IMP note that true, TRUE , True are not same only True represents boolean data TRUE or true are not coorect
# Similarly false, FALSE, False are not same only False represents boolean data FALSE or false are not coorect


g='123'
h=[ 1, 2, 3, 'hello world', True ]
i= (1,2,3, 'heello world', True)
j= {1,2,3, 'hello world', True}
k= { 1:'hello world',2:'aryan'}


print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(j))
print(type(k))

<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [ ]:
# we got error in cell before because we used a, b far two values in two differnt cells so never
# give use two same varibles far different values in one code page

# input() fuction

In [1]:
# Everything written inside input() will get printed to ask far input specified and then stores the input to work

In [3]:
Name= input('your name')
Age= input('your age')
print(Name+'your age is' + Age) # we can use "" or ''  both are same

your namearyan
your age12
aryanyour age is12

### previous code have a proble it don't gives space after name, age and print is aryanyour age is12 so there are no spaces in some important area

### to give the space between aryan and your or is and 12 we need to give space after starting commas or ending commas as required in input and far print to get space between nameyour we need to give space between starting comma and your

In [4]:
# so to give that space we will do input('your name  ') 
# the space before ending comma after your name  in input tag will give that space

# similarly print(Name+'   your age is  ' + Age) will give space after Name and before Age

In [7]:
Name= input('Your Name ')
Age=input('Your Age ')

print(Name + ' your age is '+ Age) #IMP we have to give space '_your age is _

print(Name + 'your age is '+ Age)  #IMP if we do 'your age is_' so remember to give spaces and + and , works same

Your Name ARYAN
Your Age 18
ARYAN your age is 18
ARYANyour age is 18

### Take this interesting case

### In input('your name') anyone can put numbers so print can be 18 your age is 18
### to make sure we get the type of data we want, we define data using str() far string, int() far integer, float() far float,etc
### To get int as input we use int(input())

In [2]:
Name= input('Your Name ')
Age=input('Your Age ')

print(Name + ' your age is '+ Age)

Your Name 18
Your Age 18
18 your age is 18

### you can't add two different data types together like string or int, etc far that use , (comma)

In [1]:
a= 'hello'
b= 3
print(a+b)

TypeError: can only concatenate str (not "int") to str

### can only add two same data types

In [5]:
a='hello'
b='1' # here '1' is string not number cos its in '' (commas)
print(a+b)

hello1

In [ ]:
Name= str(input('Your Name '))
Age=int(input('Your Age '))

print(Name+ ' your age is ', Age) #you can't add two different data types together like string or int, etc far that use ,(comma)

### we can't make variable using space, far adding space we use underscore_

In [1]:
BIRTH YEAR = 19
print(BIRTH YEAR)

SyntaxError: invalid syntax (3929186524.py, line 1)

In [7]:
weight=float(input('your weight in kgs: '))

weight_in_grams = weight*1000 

print('your weight in grams is ', weight_in_grams, ' grams')

your weight in kgs: 55
your weight in grams is  55000.0  grams

## Index in string

     course = 'Python far begineers'
    INDEX----- 012345 678 9........so on
    
    -ve index-so on........-4-3-2-1
    
                        -ve index means its starts from last word
   
 [x:y] = it prints everything between x and y but it won't print x and yth index
   
 example = [1:-1] it will print every index but not 1 and -1 
   
 NOTE that [x:y] is different from [x] , [x] will print xth index  
   
 example = [1] will print 1 index

In [9]:
course = 'python far begineers'
print(course[0])
print(course[-1]) # it prints from last , from last it starts from index -1 not 0 because -0 don't exists

p
s

In [11]:
course = 'python far begineers'

print(course [:5]) # if we put [:5] it takes [0:5] automatically so it takes 0 before : as default and last indes after : 
      
print(course[:])      #[:] will print whole string

pytho
python far begineers

In [12]:
course = ' python far begineers'
#index-- 0 123456 789 ...son on 

print(course[0]) # HERE we have space as index 0

### Formatted string 

When we want to add " or [] in string

example-: TO PRINT Jhon [Smith] is a coder
                 
                 code
                      
            first='Jhon'
            last= 'Smith'
            message=first + '[' + last '] is a code'
            print(message)
          
    HERE it becomes complex to print symbols or complex texts in string to solve that problem we use formatted string
    
    
  ### formatted string = f'' 
  
  example-: TO PRINT Jhon [Smith] is a coder USING FORMATTED STRING
  
                  code
                  
          first='Jhon'
          last= 'Smith'
          message=f'{first} [{last}] is a coder'
          print(message)     
   
   formatted string or f'' helps combine new string with variables (NUMBERS TOO)

In [14]:
 first='Jhon'
last= 'Smith'
a= 5

message=f'{first} [{last}] {a} is a coder'

print(message)

Jhon [Smith] 5 is a coder

## String methods

### We alse have some string specified function to convert string in upper case or lower case or etc ,

### We access them using . in string variable like course. upper() IMP - [ .upper() is a method ] 

### we refer to these functions as methods
 
### when a function is specific to some kind of object is methods

In [31]:
course= 'python far begineers'

print(course.upper()) # PUTTING A C

print(course.find('o')) #it gives index of character , IT IS CASE SENSITIVE

print(course.replace('begineers', 'absoloute begineers'))  # it replace characters in strings

print('python' in course) # in is an operator that helps to check characters in python using a boolean value
print('Python' in course) # in operator is case sensitive

PYTHON FAR BEGINEERS
4
python far absoloute begineers
True
False

### Len function is used to calculate no. of characters in strings it helps to manage no. of character in our  program 

len function is general purpose character so it can be used to calculate no. of items too , like in list

 USING LEN WE CAN SET LIMITS OF CHARACTERS FAR OUR USERS 

IF USERS TYPE MORE CHARACTERS THAN WE ALLOW THEM IT WILL DISPLAY AN ERROR

In [19]:
course= 'python far begineers'
print(len(course))

20

In [20]:
# NOTE that space is also calculated as character
course= ' python far begineers' 
print(len(course))

21

### We alse have some string specified function to convert string in upper case or lower case or etc ,

### We access them using . in string variable like course.

### Arithmetics in python follows BODMAS
### Using parenthesis () we can priortise a calculation NOTE-: parenthesis is round brackets

In [2]:
print(4%5)

4

###### it means 4 divide by 5 gives remainder 4 because 4 can't be divided by 5 so final remainder don't changes and remains 4 i.e same as initial number

In [7]:
a = 'hi world'
print(a[::-1])

#this is used to print the reverse of a string

dlrow ih