###### Pattern for right angle triangle

In [17]:
n = 4
sc = n-nc
nc = 1

for item in range(n):
    
    for i in range(sc):
        print(' ',end='')
    for x in range(nc):
        print('*',end='')
   
    nc = nc+1
    print()

       *
       **
       ***
       ****

###### Pattern to draw inverted right angle triangle

###### using no space in ''   "  in end=''  "  will give us a inverted right angle triangle

In [1]:
n = 4
sc =0
nc = n

for item in range(n):
    
    for i in range(sc):
        print(' ',end='')
    for x in range(nc):
        print('*',end='')
   
    nc = nc-1
    sc=sc+1
    print()             # use print other wise end = '' won't get executed

****
 ***
  **
   *

###### Pattern for non-right angle triangle

In [5]:
# use end ='   ' for non right angle triangle

n = 4
sc =0
nc = n

for item in range(n):
    
    for i in range(sc):
        print(' ',end='')
    for x in range(nc):
        print('*',end=' ')
   
    nc = nc-1
    sc=sc+1
    print()               # use print other wise end = '' won't get executed

* * * *
 * * *
  * *
   *

###### not using print() with loop seaprately

In [7]:
# not using print seaprately won't execute end='' for use because of loop

n = 4
sc =0
nc = n

for item in range(n):
    
    for i in range(sc):
        print(' ',end='')
    for x in range(nc):
        print('*',end=' ')
   
    nc = nc-1
    sc=sc+1

* * * *  * * *   * *    *

#### Pattern to draw hour glass

In [3]:
n = 4
sc =0
nc = n

for item in range(n):
    
    for i in range(sc):
        print(' ',end='')
    for x in range(nc):
        print('*',end=' ')
   
    nc = nc-1
    sc=sc+1
    print()     
    
n = 4
nc = 2
sc=2

for item in range(n-1):      # use n-1 to reduce a row because our row started with ** not *
    
    for i in range(sc):
        print(' ',end='')
    for x in range(nc):
        print('*',end=' ')
   
    nc = nc+1
    sc=sc-1
    print()

* * * *
 * * *
  * *
   *
  * *
 * * *
* * * *

###### pattern for numbers in place of stars

In [13]:
n = 5
a=1
for i in range(n):
    for nc in range(i+1):
        print(a,end='')
    print()    
    a=a+1

1
22
333
4444
55555

###### program to prin this pattern

In [6]:
# 1 
# 1 2 
# 1 2 3 
# 1 2 3 4 
# 1 2 3 4 5   (# is not part of pattern it's just here to make a comment)

In [15]:
n = 5
a=1
for i in range(n):
    for nc in range(i+1):
        print(nc+1,end='')
    print()
    a=a+1

1
12
123
1234
12345

In [16]:
# 1 
# 3 3 
# 5 5 5 
# 7 7 7 7 
# 9 9 9 9 9

In [39]:
n = 5
a=1
for i in range(n):
    for nc in range(i+1):
        print(a,end='')
    print()
    a=a+2

1
33
555
7777
99999

### Ascii value is a code given to characters to store in memory just like variables

###### The ord() function returns the number representing the ascii value or code of a specified character. 
###### chr() gives the character corresponding to ascii value

In [48]:
a = 'A'

# you can write
     
ord(a)

# or

ord('A')

65

###### ascii value of a character is 1 more than previous character

In [49]:
ord('A')

65

In [51]:
ord('B')

66

###### chr() gives character to ascii value

In [55]:
chr(64)

'@'

In [52]:
chr(65)

'A'

In [54]:
chr(66)

'B'